<FORM action="http://www.google.com/custom" method="get" target="_blank">
<INPUT type="text" name="q" value="">
<input type="hidden" name="ie" value="tis-620">
<input type="hidden" name="oe" value="tis-620">
<input type="hidden" name="hl" value="th">
<INPUT type="submit" name="sa" VALUE="ค้น">
</FORM>

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h3>Welcome Photography & Journey</h3>
                <h1>EYES LIKE A SHUTTER,</h1>
                <h1>Mind LIKE A LENS.</h1>			
            </div>
            <div class="col-lg-8 col-lg-offset-2 himg">
                <img src="{{ "/assets/img/browser.png" | prepend: site.baseurl }}" class="img-responsive">
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->